extend layout
block body
  p Loading...
  
append script
  script(src='/socket.io/socket.io.js')
  script(src='/js/yonder-client.js')
  script.
    yonder({ name: document.location.pathname.substring(1) });