!!! 5
html(lang='en', itemscope, itemtype='http://schema.org/Organization')
  head
    block head
      meta(charset='utf-8')

      //- SITE INFORMATION
      title Yonder

    block styles
      //- CSS
      link(rel='stylesheet', type='text/css', href='/css/index.css', media='all')

  body
    block body

    block globalScript
      script(src='/js/jquery-1.7.1.min.js')
      script
        if (typeof jQuery === 'undefined') {
          document.write('<script src="/js/jquery-1.7.1.min.js" />');
        }

    block script