extend layout
block body
  h2 Manage Yonder Yindows
  #app
  script(id='yindow',type='application/x-tpl')
    li(id='yindow-$name')
      a(href='/$name') $name

append script
  script(src='/socket.io/socket.io.js')
  script(src='/js/vendor/underscore.js')
  script(src='/js/manage.js')